.code-area {
    -fx-font-size: 16px;
    -fx-background-color: #1e293b;
    -fx-padding: 16 16 16 16;
}

.code-area .caret {
    -fx-stroke: #fdfdfd;
}

.skyblue-text {
    -fx-fill: #0284c7;
}

.white-text {
    -fx-fill: #f8fafc;
}

.purple-text {
    -fx-fill: #9333ea;
}

.red-text {
    -fx-fill: #d97706;
}

.gray-text {
    -fx-fill: #64748b;
}

.green-text {
    -fx-fill: #65a30d;
}

.default-text {
    -fx-fill: #cbd5e1;
}

.error-text {
    -fx-underline: true;
    -fx-fill: #cbd5e1;
}